/* public/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  .title{
    text-align: center;
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
    padding: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px 0;
  }
  
  .blog-posts article {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  

  .code-box {
    background-color: #f0f0f0; /* Cor de fundo da caixa */
    border-radius: 5px; /* Borda arredondada */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 20px; /* Margem inferior para separar os trechos de código */
  }
  
  /* Estilos para o tema claro */
  body.light-mode {
    background-color: #ebe0e0;
    color: #333333;
  }
  
  /* Estilos para o tema escuro */
  body.dark-mode {
    background-color: #5a5656;
    color: #361616;
  }


  /* public/styles.css */

/* Adicione regras de estilo para dispositivos móveis */
@media only screen and (max-width: 768px) {
    .container {
      width: 90%; /* Reduza a largura da container para telas menores */
    }
  
    header {
      padding: 10px 0; /* Reduza o preenchimento do cabeçalho */
    }
  
    nav ul li {
      display: block; /* Altere os itens do menu para exibição de bloco */
      margin: 10px 0; /* Adicione margem entre os itens do menu */
    }
  }
  
  /* Estilos para o tema claro */
  body.light-mode {
    background-color: #ebe0e0;
    color: #333333;
  }
  
  /* Estilos para o tema escuro */
  body.dark-mode {
    background-color: #5a5656;
    color: #361616;
  }
  
 /* Adicione esta classe CSS ao seu arquivo de estilos */

.footer {
    position: flex;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  




  .article-text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .article-text h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .article-text h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .article-text p {
    margin-bottom: 10px;
  }
  
  .article-text a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .article-text a:hover {
    text-decoration: underline;
  }
  

  /* Estilizando todos os links */
a {
    color: #007bff; /* Cor do link */
    text-decoration: none; /* Removendo sublinhado */
    transition: color 0.3s ease; /* Adicionando transição suave de cor */
  }
  
  /* Estilizando a cor do link ao passar o mouse sobre ele */
  a:hover {
    color: #0056b3; /* Cor do link ao passar o mouse */
  }
  


  /* Estilo do botão de alternância de tema */
.theme-toggle {
    background-color: #333; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    padding: 10px; /* Adiciona um espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Altera o cursor ao passar por cima */
    border-radius: 50%; /* Borda circular */
    transition-duration: 0.4s; /* Duração da transição */
  }
  
  /* Estilo hover do botão de alternância de tema */
  .theme-toggle:hover {
    background-color: #555; /* Altera a cor de fundo ao passar o mouse */
  }
  